.accordion {
   margin: 50px;   
   sect, textarea {
      padding: 10px;
      border: 1px solid black;
      border-bottom: 0; 
      }
      a {
        display: block;
        color: black;
        font-weight: bold;
      }
   }
  textarea {
     border-top: 0; 
     font-size: 12px;
  }
}