@mixin boxtab {
  height: 50px;
  width: 500px;
  background-color: #34DDDD;
}

@mixin boxinfo {
  height: 150px;
  width: 500px;
  background-color: blue;
  display: none;
  color: white;
}

.box1tab {
  @include boxtab;
}

.box1info {
  @include boxinfo;
}
.box2tab {
  @include boxtab;
}

.box2info {
  @include boxinfo;
}

.box3tab {
  @include boxtab;
}

.box3info {
  @include boxinfo;
}